.inputPlus{
width: 100%;
display: grid;
grid-template-columns: 1fr 60px;

margin-bottom: 15px;
  &Value{
      border: 1px solid #B1B1B1;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      padding: 9px 10px;
      font: 1rem/1.4 'Roboto' , 'sans-serif';
    background: #DBE2EF;
      &::placeholder{
        color: #7B7B7B;
      }
  }

  &Button{
      border-radius: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      cursor: pointer;
      background: #3F72AF url(./images/plus.svg)  no-repeat center center;
      transition: opacity .3s;
      &:hover{
        opacity: .7;
      }
  }
}